//================  sys ==================================
IO_LOC "i_rst_n" 		K13;

IO_LOC "i_uart_rx" P15;
IO_LOC "o_uart_tx" R16;

//============ GW138/060AB JTAG侧排针 
IO_LOC "i_gmii_rx_valid"       K21; 
IO_LOC "i_gmii_rx_data[0]"     K22; 
IO_LOC "i_gmii_rx_data[1]"     L19; 
IO_LOC "i_gmii_rx_data[2]"     L20; 
IO_LOC "i_gmii_rx_data[3]"     M21; 
IO_LOC "i_gmii_rx_clk"         L21; 
IO_LOC "i_gmii_rx_data[4]"     N22; 
IO_LOC "i_gmii_rx_data[5]"     M22; 
IO_LOC "i_gmii_rx_data[6]"     R19; 
IO_LOC "i_gmii_rx_data[7]"     P19; 
IO_LOC "i_gmii_rx_err"         F18; 
IO_LOC "o_gmii_tx_clk"         T21; 
IO_LOC "o_gmii_tx_valid"       K16; 
IO_LOC "o_gmii_tx_data[0]"     P20; 
IO_LOC "o_gmii_rst_n"          M20; 
IO_LOC "o_gmii_tx_data[1]"     L16; 
IO_LOC "o_gmii_tx_data[2]"     L15; 
IO_LOC "o_gmii_tx_data[3]"     N20; 
IO_LOC "o_gmii_tx_data[4]"     L14; 
IO_LOC "o_gmii_tx_data[5]"     V18; 
IO_LOC "o_gmii_tx_data[6]"     V19; 
IO_LOC "o_gmii_tx_data[7]"     T18; 
IO_LOC "o_gmii_tx_err"         U22; 

//================IO 电平设置==================================
IO_PORT "i_rst_n"               IO_TYPE=LVCMOS33;
IO_PORT "i_uart_rx"             IO_TYPE=LVCMOS33;
IO_PORT "o_uart_tx"             IO_TYPE=LVCMOS33;
IO_PORT "i_gmii_rx_valid"       IO_TYPE=LVCMOS33;
IO_PORT "i_gmii_rx_data[0]"     IO_TYPE=LVCMOS33;
IO_PORT "i_gmii_rx_data[1]"     IO_TYPE=LVCMOS33;
IO_PORT "i_gmii_rx_data[2]"     IO_TYPE=LVCMOS33;
IO_PORT "i_gmii_rx_data[3]"     IO_TYPE=LVCMOS33;
IO_PORT "i_gmii_rx_clk"         IO_TYPE=LVCMOS33;
IO_PORT "i_gmii_rx_data[4]"     IO_TYPE=LVCMOS33;
IO_PORT "i_gmii_rx_data[5]"     IO_TYPE=LVCMOS33;
IO_PORT "i_gmii_rx_data[6]"     IO_TYPE=LVCMOS33;
IO_PORT "i_gmii_rx_data[7]"     IO_TYPE=LVCMOS33;
IO_PORT "i_gmii_rx_err"         IO_TYPE=LVCMOS33;
IO_PORT "o_gmii_tx_clk"         IO_TYPE=LVCMOS33;
IO_PORT "o_gmii_tx_valid"       IO_TYPE=LVCMOS33;
IO_PORT "o_gmii_tx_data[0]"     IO_TYPE=LVCMOS33;
IO_PORT "o_gmii_rst_n"          IO_TYPE=LVCMOS33;
IO_PORT "o_gmii_tx_data[1]"     IO_TYPE=LVCMOS33;
IO_PORT "o_gmii_tx_data[2]"     IO_TYPE=LVCMOS33;
IO_PORT "o_gmii_tx_data[3]"     IO_TYPE=LVCMOS33;
IO_PORT "o_gmii_tx_data[4]"     IO_TYPE=LVCMOS33;
IO_PORT "o_gmii_tx_data[5]"     IO_TYPE=LVCMOS33;
IO_PORT "o_gmii_tx_data[6]"     IO_TYPE=LVCMOS33;
IO_PORT "o_gmii_tx_data[7]"     IO_TYPE=LVCMOS33;
IO_PORT "o_gmii_tx_err"         IO_TYPE=LVCMOS33;