
IO_LOC "i_clk" E2;
IO_PORT "i_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "i_uart_rx" B3;
IO_LOC "o_uart_tx" C3;
IO_PORT "i_uart_rx" IO_TYPE=LVCMOS33;
IO_PORT "o_uart_tx" IO_TYPE=LVCMOS33;

IO_LOC "o_hdmi_d_p[0]" C11,C10;
IO_LOC "o_hdmi_d_p[1]" D11,D10;
IO_LOC "o_hdmi_d_p[2]" G11,G10;
IO_LOC "o_hdmi_clk_p" B11,B10;
IO_PORT "o_hdmi_d_p[0]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "o_hdmi_d_p[1]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "o_hdmi_d_p[2]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "o_hdmi_clk_p" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "o_led[0]" L10;
IO_LOC "o_led[1]" K10;
IO_LOC "o_led[2]" K11;
IO_LOC "o_led[3]" L11;
IO_PORT "o_led[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "o_led[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "o_led[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "o_led[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "i_key[0]" E11;
IO_LOC "i_key[1]" E10;
IO_LOC "i_key[2]" A11;
IO_LOC "i_key[3]" A10;
IO_PORT "i_key[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=OFF BANK_VCCIO=3.3;
IO_PORT "i_key[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=OFF BANK_VCCIO=3.3;
IO_PORT "i_key[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=OFF BANK_VCCIO=3.3;
IO_PORT "i_key[3]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "exter_io1[0] " L1;
IO_LOC "exter_io1[1] " L2;
IO_LOC "exter_io1[2] " K2;
IO_LOC "exter_io1[3] " K1;
IO_LOC "exter_io1[4] " K4;
IO_LOC "exter_io1[5] " J4;
IO_LOC "exter_io1[6] " C2;
IO_LOC "exter_io1[7] " B2;
IO_LOC "exter_io1[8] " F1;
IO_LOC "exter_io1[9] " F2;
IO_LOC "exter_io1[10]" E1;
IO_LOC "exter_io1[11]" A1;
IO_LOC "exter_io1[12]" G1;
IO_LOC "exter_io1[13]" G2;
IO_LOC "exter_io1[14]" L3;
IO_LOC "exter_io1[15]" L4;
IO_LOC "exter_io1[16]" J2;
IO_LOC "exter_io1[17]" J1;
IO_LOC "exter_io1[18]" H4;
IO_LOC "exter_io1[19]" G4;
IO_LOC "exter_io1[20]" H2;
IO_LOC "exter_io1[21]" H1;
IO_LOC "exter_io1[22]" L9;
IO_LOC "exter_io1[23]" K9;
IO_LOC "exter_io1[24]" J8;
IO_LOC "exter_io1[25]" K8;
IO_LOC "exter_io1[26]" F7;
IO_LOC "exter_io1[27]" F6;
IO_LOC "exter_io1[28]" J11;
IO_LOC "exter_io1[29]" J10;
IO_LOC "exter_io1[30]" H11;
IO_LOC "exter_io1[31]" H10;
IO_LOC "exter_io1[32]" E3;
IO_LOC "exter_io1[33]" D1;
IO_PORT "exter_io1[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[13]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[14]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[15]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[16]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[17]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[18]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[19]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[20]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[21]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[22]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[23]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[24]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[25]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[26]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[27]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[28]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[29]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[30]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[31]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[32]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[33]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "exter_io2[0] "  L7;
IO_LOC "exter_io2[1] "  L8;
IO_LOC "exter_io2[2] "  K7;
IO_LOC "exter_io2[3] "  J7;
IO_LOC "exter_io2[4] "  L6;
IO_LOC "exter_io2[5] "  K6;
IO_LOC "exter_io2[6] "  F5;
IO_LOC "exter_io2[7] "  G5;
IO_LOC "exter_io2[8] "  G7;
IO_LOC "exter_io2[9] "  G8;
IO_LOC "exter_io2[10]"  H8;
IO_LOC "exter_io2[11]"  H7;
IO_LOC "exter_io2[12]"  L5;
IO_LOC "exter_io2[13]"  K5;
IO_LOC "exter_io2[14]"  H5;
IO_LOC "exter_io2[15]"  J5;
IO_PORT "exter_io2[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[13]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[14]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[15]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;