
IO_LOC "i_clk" V22;
IO_PORT "i_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "i_uart_rx" P15;
IO_LOC "o_uart_tx" R16;
IO_PORT "i_uart_rx" IO_TYPE=LVCMOS33;
IO_PORT "o_uart_tx" IO_TYPE=LVCMOS33;

IO_LOC "o_hdmi_d_p[0]" J20,J21;
IO_LOC "o_hdmi_d_p[1]" G17,G18;
IO_LOC "o_hdmi_d_p[2]" G21,G22;
IO_LOC "o_hdmi_clk_p"  J22,H22;
IO_PORT "o_hdmi_d_p[0]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "o_hdmi_d_p[1]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "o_hdmi_d_p[2]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "o_hdmi_clk_p" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "sd_ncs"  AB18;
IO_LOC "sd_mosi" W19;
IO_LOC "sd_dclk" AA19;
IO_LOC "sd_miso" W20;
IO_PORT "sd_ncs" IO_TYPE=LVCMOS33;
IO_PORT "sd_dclk" IO_TYPE=LVCMOS33;
IO_PORT "sd_mosi" IO_TYPE=LVCMOS33;
IO_PORT "sd_miso" IO_TYPE=LVCMOS33;

IO_LOC "o_led[0]" AA10;
IO_LOC "o_led[1]" AB10;
IO_LOC "o_led[2]" AA11;
IO_LOC "o_led[3]" AB11;
IO_PORT "o_led[0]"  PULL_MODE=KEEPER DRIVE=8 ;
IO_PORT "o_led[1]"  PULL_MODE=KEEPER DRIVE=8 ;
IO_PORT "o_led[2]"  PULL_MODE=KEEPER DRIVE=8 ;
IO_PORT "o_led[3]"  PULL_MODE=KEEPER DRIVE=8 ;

IO_LOC "i_key[0]" T14;
IO_LOC "i_key[1]" V13;
IO_LOC "i_key[2]" W12;
IO_LOC "i_key[3]" AA9;
IO_PORT "i_key[0]"  PULL_MODE=KEEPER ;
IO_PORT "i_key[1]"  PULL_MODE=KEEPER ;
IO_PORT "i_key[2]"  PULL_MODE=KEEPER ;
IO_PORT "i_key[3]"  PULL_MODE=KEEPER ;

IO_LOC "exter_io1[0] " D15;
IO_LOC "exter_io1[1] " D14;
IO_LOC "exter_io1[2] " D16;
IO_LOC "exter_io1[3] " E16;
IO_LOC "exter_io1[4] " E17;
IO_LOC "exter_io1[5] " F16;
IO_LOC "exter_io1[6] " C19;
IO_LOC "exter_io1[7] " C18;
IO_LOC "exter_io1[8] " C20;
IO_LOC "exter_io1[9] " E19;
IO_LOC "exter_io1[10]" D19;
IO_LOC "exter_io1[11]" D20;
IO_LOC "exter_io1[12]" N19;
IO_LOC "exter_io1[13]" N18;
IO_LOC "exter_io1[14]" L18;
IO_LOC "exter_io1[15]" M18;
IO_LOC "exter_io1[16]" K19;
IO_LOC "exter_io1[17]" K18;
IO_LOC "exter_io1[18]" H18;
IO_LOC "exter_io1[19]" H17;
IO_LOC "exter_io1[20]" H19;
IO_LOC "exter_io1[21]" J19;
IO_LOC "exter_io1[22]" E21;
IO_LOC "exter_io1[23]" D21;
IO_LOC "exter_io1[24]" E22;
IO_LOC "exter_io1[25]" D22;
IO_LOC "exter_io1[26]" F20;
IO_LOC "exter_io1[27]" F21;
IO_LOC "exter_io1[28]" G20;
IO_LOC "exter_io1[29]" F19;
IO_LOC "exter_io1[30]" B22;
IO_LOC "exter_io1[31]" H20;
IO_LOC "exter_io1[32]" E18;
IO_LOC "exter_io1[33]" C22;
IO_PORT "exter_io1[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[13]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[14]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[15]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[16]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[17]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[18]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[19]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[20]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[21]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[22]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[23]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[24]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[25]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[26]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[27]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[28]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[29]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[30]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[31]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[32]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io1[33]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "exter_io2[0] " K21;
IO_LOC "exter_io2[1] " K22;
IO_LOC "exter_io2[2] " L19;
IO_LOC "exter_io2[3] " L20;
IO_LOC "exter_io2[4] " M21;
IO_LOC "exter_io2[5] " L21;
IO_LOC "exter_io2[6] " N22;
IO_LOC "exter_io2[7] " M22;
IO_LOC "exter_io2[8] " R19;
IO_LOC "exter_io2[9] " P19;
IO_LOC "exter_io2[10]" F18;
IO_LOC "exter_io2[11]" T20;
IO_LOC "exter_io2[12]" U21;
IO_LOC "exter_io2[13]" T21;
IO_LOC "exter_io2[14]" K16;
IO_LOC "exter_io2[15]" P20;
IO_LOC "exter_io2[16]" M20;
IO_LOC "exter_io2[17]" L16;
IO_LOC "exter_io2[18]" L15;
IO_LOC "exter_io2[19]" N20;
IO_LOC "exter_io2[20]" P16;
IO_LOC "exter_io2[21]" L14;
IO_LOC "exter_io2[22]" V18;
IO_LOC "exter_io2[23]" V19;
IO_LOC "exter_io2[24]" T18;
IO_LOC "exter_io2[25]" U22;
IO_LOC "exter_io2[26]" R17;
IO_LOC "exter_io2[27]" R18;
IO_LOC "exter_io2[28]" Y21;
IO_LOC "exter_io2[29]" Y22;
IO_LOC "exter_io2[30]" AB21;
IO_LOC "exter_io2[31]" AB22;
IO_LOC "exter_io2[32]" AA20;
IO_LOC "exter_io2[33]" AA21;
IO_PORT "exter_io2[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[13]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[14]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[15]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[16]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[17]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[18]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[19]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[20]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[21]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[22]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[23]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[24]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[25]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[26]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[27]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[28]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[29]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[30]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[31]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[32]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io2[33]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "exter_io3[0] " H13;
IO_LOC "exter_io3[1] " G13;
IO_LOC "exter_io3[2] " G15;
IO_LOC "exter_io3[3] " G16;
IO_LOC "exter_io3[4] " J14;
IO_LOC "exter_io3[5] " H14;
IO_LOC "exter_io3[6] " J15;
IO_LOC "exter_io3[7] " H15;
IO_LOC "exter_io3[8] " K17;
IO_LOC "exter_io3[9] " J17;
IO_LOC "exter_io3[10]" J16;
IO_LOC "exter_io3[11]" F13;
IO_LOC "exter_io3[12]" F14;
IO_LOC "exter_io3[13]" F15;
IO_LOC "exter_io3[14]" E13;
IO_LOC "exter_io3[15]" E14;
IO_LOC "exter_io3[16]" C14;
IO_LOC "exter_io3[17]" C15;
IO_LOC "exter_io3[18]" C13;
IO_LOC "exter_io3[19]" B13;
IO_LOC "exter_io3[20]" A13;
IO_LOC "exter_io3[21]" A14;
IO_LOC "exter_io3[22]" B15;
IO_LOC "exter_io3[23]" B16;
IO_LOC "exter_io3[24]" A15;
IO_LOC "exter_io3[25]" A16;
IO_LOC "exter_io3[26]" D17;
IO_LOC "exter_io3[27]" C17;
IO_LOC "exter_io3[28]" B17;
IO_LOC "exter_io3[29]" B18;
IO_LOC "exter_io3[30]" A18;
IO_LOC "exter_io3[31]" A19;
IO_LOC "exter_io3[32]" B20;
IO_LOC "exter_io3[33]" A20;
IO_LOC "exter_io3[34]" B21;
IO_LOC "exter_io3[35]" A21;
IO_PORT "exter_io3[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[13]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[14]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[15]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[16]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[17]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[18]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[19]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[20]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[21]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[22]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[23]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[24]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[25]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[26]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[27]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[28]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[29]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[30]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[31]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[32]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[33]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[34]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io3[35]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "exter_io4[0] " W21;
IO_LOC "exter_io4[1] " W22;
IO_LOC "exter_io4[2] " U20;
IO_LOC "exter_io4[3] " V20;
IO_LOC "exter_io4[4] " P17;
IO_LOC "exter_io4[5] " M17;
IO_LOC "exter_io4[6] " M16;
IO_LOC "exter_io4[7] " N17;
IO_LOC "exter_io4[8] " N15;
IO_LOC "exter_io4[9] " M15;
IO_LOC "exter_io4[10]" N14;
IO_LOC "exter_io4[11]" N13;
IO_LOC "exter_io4[12]" AB17;
IO_LOC "exter_io4[13]" Y17;
IO_LOC "exter_io4[14]" M13;
IO_LOC "exter_io4[15]" AA16;
IO_LOC "exter_io4[16]" AB16;
IO_LOC "exter_io4[17]" L13;
IO_LOC "exter_io4[18]" AB15;
IO_LOC "exter_io4[19]" AA15;
IO_LOC "exter_io4[20]" W15;
IO_LOC "exter_io4[21]" Y16;
IO_LOC "exter_io4[22]" W14;
IO_LOC "exter_io4[23]" V15;
IO_LOC "exter_io4[24]" Y14;
IO_LOC "exter_io4[25]" U15;
IO_LOC "exter_io4[26]" Y18;
IO_LOC "exter_io4[27]" Y19;
IO_LOC "exter_io4[28]" V17;
IO_LOC "exter_io4[29]" W17;
IO_LOC "exter_io4[30]" U17;
IO_LOC "exter_io4[31]" U18;
IO_LOC "exter_io4[32]" U16;
IO_LOC "exter_io4[33]" W16;
IO_LOC "exter_io4[34]" T15;
IO_LOC "exter_io4[35]" T16;
IO_PORT "exter_io4[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[13]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[14]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[15]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[16]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[17]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[18]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[19]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[20]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[21]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[22]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[23]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[24]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[25]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[26]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[27]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[28]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[29]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[30]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[31]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[32]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[33]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[34]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "exter_io4[35]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;