// 引脚约束：由源工程按“黑金排针 index”映射到本板模板生成

IO_LOC "i_rst_n" H13;
IO_LOC "io_ft_data[1]" Y22;
IO_LOC "io_ft_data[0]" W22;
IO_LOC "io_ft_data[3]" Y21;
IO_LOC "io_ft_data[2]" W21;
IO_LOC "io_ft_data[5]" AB22;
IO_LOC "io_ft_data[4]" V20;
IO_LOC "io_ft_data[7]" AB21;
IO_LOC "io_ft_data[6]" U20;
IO_LOC "i_ft_rxf_n" M17;
IO_LOC "i_ft_txe_n" AA21;
IO_LOC "o_ft_rd_n" P17;
IO_LOC "o_ft_wr_n" AA20;
IO_LOC "i_ft_clk" AB20;
IO_LOC "o_ft_siwu_n" N17;
IO_LOC "o_ft_oe_n" M16;
IO_PORT "i_rst_n" IO_TYPE=LVCMOS33;
IO_PORT "io_ft_data[0]" IO_TYPE=LVCMOS33;
IO_PORT "io_ft_data[1]" IO_TYPE=LVCMOS33;
IO_PORT "io_ft_data[2]" IO_TYPE=LVCMOS33;
IO_PORT "io_ft_data[3]" IO_TYPE=LVCMOS33;
IO_PORT "io_ft_data[4]" IO_TYPE=LVCMOS33;
IO_PORT "io_ft_data[5]" IO_TYPE=LVCMOS33;
IO_PORT "io_ft_data[6]" IO_TYPE=LVCMOS33;
IO_PORT "io_ft_data[7]" IO_TYPE=LVCMOS33;
IO_PORT "i_ft_rxf_n" IO_TYPE=LVCMOS33;
IO_PORT "i_ft_txe_n" IO_TYPE=LVCMOS33;
IO_PORT "o_ft_rd_n" IO_TYPE=LVCMOS33;
IO_PORT "o_ft_wr_n" IO_TYPE=LVCMOS33;
IO_PORT "i_ft_clk" IO_TYPE=LVCMOS33;
IO_PORT "o_ft_oe_n" IO_TYPE=LVCMOS33;
IO_PORT "o_ft_siwu_n" IO_TYPE=LVCMOS33;
