// bittest_lcd480_60 引脚约束（时钟取自板卡模板，LCD 信号分配到 exter_io1 排针）
// LCD 接线：o_lcd_rgb[23:0]=exter_io1[23:0]，o_lcd_clk=exter_io1[24]，o_lcd_hs=exter_io1[25]，
//           o_lcd_vs=exter_io1[26]，o_lcd_de=exter_io1[27]

IO_LOC "i_clk" V22;
IO_PORT "i_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "o_lcd_rgb[0]" Y22;
IO_PORT "o_lcd_rgb[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_lcd_rgb[1]" W22;
IO_PORT "o_lcd_rgb[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_lcd_rgb[2]" Y21;
IO_PORT "o_lcd_rgb[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_lcd_rgb[3]" W21;
IO_PORT "o_lcd_rgb[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_lcd_rgb[4]" AB22;
IO_PORT "o_lcd_rgb[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_lcd_rgb[5]" V20;
IO_PORT "o_lcd_rgb[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_lcd_rgb[6]" AB21;
IO_PORT "o_lcd_rgb[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_lcd_rgb[7]" U20;
IO_PORT "o_lcd_rgb[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_lcd_rgb[8]" AA21;
IO_PORT "o_lcd_rgb[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_lcd_rgb[9]" M17;
IO_PORT "o_lcd_rgb[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_lcd_rgb[10]" AA20;
IO_PORT "o_lcd_rgb[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_lcd_rgb[11]" P17;
IO_PORT "o_lcd_rgb[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_lcd_rgb[12]" AB20;
IO_PORT "o_lcd_rgb[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_lcd_rgb[13]" N17;
IO_PORT "o_lcd_rgb[13]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_lcd_rgb[14]" AA19;
IO_PORT "o_lcd_rgb[14]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_lcd_rgb[15]" M16;
IO_PORT "o_lcd_rgb[15]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_lcd_rgb[16]" W20;
IO_PORT "o_lcd_rgb[16]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_lcd_rgb[17]" M15;
IO_PORT "o_lcd_rgb[17]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_lcd_rgb[18]" W19;
IO_PORT "o_lcd_rgb[18]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_lcd_rgb[19]" N15;
IO_PORT "o_lcd_rgb[19]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_lcd_rgb[20]" AB18;
IO_PORT "o_lcd_rgb[20]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_lcd_rgb[21]" N13;
IO_PORT "o_lcd_rgb[21]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_lcd_rgb[22]" AA18;
IO_PORT "o_lcd_rgb[22]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_lcd_rgb[23]" N14;
IO_PORT "o_lcd_rgb[23]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_lcd_clk" Y19;
IO_PORT "o_lcd_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_lcd_hs" Y17;
IO_PORT "o_lcd_hs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_lcd_vs" Y18;
IO_PORT "o_lcd_vs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_lcd_de" AB17;
IO_PORT "o_lcd_de" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
