IO_LOC "i_rst_n"            T6;
IO_LOC "i_clk_27m"          H11;
IO_LOC "o_wm8731_dacdat"    T14;
IO_LOC "o_wm8731_daclrck"   R12;
IO_LOC "o_wm8731_scl"      R8;
IO_LOC "io_wm8731_bclk"     R13;
IO_LOC "io_wm8731_adclrck"  R11;
IO_LOC "io_wm8731_sda"      T7;
IO_LOC "i_wm8731_adcdat"    P13;
IO_LOC "o_ws2812_di"        P6;

IO_PORT "i_rst_n"           IO_TYPE=LVCMOS33 PULL_MODE=NONE         BANK_VCCIO=3.3;
IO_PORT "i_clk_27m"         IO_TYPE=LVCMOS33 PULL_MODE=NONE         BANK_VCCIO=3.3;
IO_PORT "o_wm8731_dacdat"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "o_wm8731_daclrck"  IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "o_wm8731_scl"      IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "io_wm8731_bclk"    IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "io_wm8731_adclrck" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "io_wm8731_sda"     IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "i_wm8731_adcdat"   IO_TYPE=LVCMOS33 PULL_MODE=NONE         BANK_VCCIO=3.3;
IO_PORT "o_ws2812_di"       IO_TYPE=LVCMOS33 PULL_MODE=NONE         BANK_VCCIO=3.3;
