IO_LOC "clk			" 6;
IO_LOC "rst_n		" 92;
IO_LOC "hc01_rx		" 80;
IO_LOC "ble_rx		" 116;
IO_LOC "ble_rst		" 115;
IO_LOC "ble_cmd		" 118;
IO_LOC "ble_cnt		" 114;
IO_LOC "vga_hs		" 141;
IO_LOC "vga_vs		" 142;
IO_LOC "vga_data[0]	" 135;
IO_LOC "vga_data[1]	" 136;
IO_LOC "vga_data[2]	" 138;
IO_LOC "vga_data[3]	" 139;
IO_LOC "vga_data[4]	" 128;
IO_LOC "vga_data[5]	" 129;
IO_LOC "vga_data[6]	" 131;
IO_LOC "vga_data[7]	" 132;
IO_LOC "vga_data[8]	" 120;
IO_LOC "vga_data[9]	" 121;
IO_LOC "vga_data[10]" 123;
IO_LOC "vga_data[11]" 124;

IO_PORT "clk		" IO_TYPE=LVCMOS33;
IO_PORT "rst_n		" IO_TYPE=LVCMOS33;
IO_PORT "hc01_rx	" IO_TYPE=LVCMOS33;
IO_PORT "ble_rx	" IO_TYPE=LVCMOS33;
IO_PORT "ble_rst	" IO_TYPE=LVCMOS33;
IO_PORT "ble_cmd	" IO_TYPE=LVCMOS33;
IO_PORT "ble_cnt	" IO_TYPE=LVCMOS33;
IO_PORT "vga_hs		" IO_TYPE=LVCMOS33;
IO_PORT "vga_vs		" IO_TYPE=LVCMOS33;
IO_PORT "vga_data[0] " IO_TYPE=LVCMOS33;
IO_PORT "vga_data[1] " IO_TYPE=LVCMOS33;
IO_PORT "vga_data[2] " IO_TYPE=LVCMOS33;
IO_PORT "vga_data[3] " IO_TYPE=LVCMOS33;
IO_PORT "vga_data[4] " IO_TYPE=LVCMOS33;
IO_PORT "vga_data[5] " IO_TYPE=LVCMOS33;
IO_PORT "vga_data[6] " IO_TYPE=LVCMOS33;
IO_PORT "vga_data[7] " IO_TYPE=LVCMOS33;
IO_PORT "vga_data[8] " IO_TYPE=LVCMOS33;
IO_PORT "vga_data[9] " IO_TYPE=LVCMOS33;
IO_PORT "vga_data[10]" IO_TYPE=LVCMOS33;
IO_PORT "vga_data[11]" IO_TYPE=LVCMOS33;
