
IO_LOC "rst_n" T10;

// 注意 R 的发送高低位顺序为从低到高，此处引脚反着给
IO_LOC "RMII_50M"    A9;
IO_LOC "RMII_TXD[0]" D16;
IO_LOC "RMII_TXD[1]" E14;
IO_LOC "RMII_TXEN"   E16;

IO_PORT "rst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_PORT "RMII_50M" IO_TYPE=LVCMOS33;
IO_PORT "RMII_TXD[1]" IO_TYPE=LVCMOS33;
IO_PORT "RMII_TXD[0]" IO_TYPE=LVCMOS33;
IO_PORT "RMII_TXEN" IO_TYPE=LVCMOS33;