IO_LOC "clk" 52;

IO_PORT "clk" IO_TYPE=LVCMOS33;

//============ HDMI ===============

IO_LOC "tmds_data_p[0]" 71,70;
IO_PORT "tmds_data_p[0]" PULL_MODE=NONE;
IO_LOC "tmds_data_p[1]" 73,72;
IO_PORT "tmds_data_p[1]" PULL_MODE=NONE;
IO_LOC "tmds_data_p[2]" 75,74;
IO_PORT "tmds_data_p[2]" PULL_MODE=NONE;
IO_LOC "tmds_clk_p" 69,68;
IO_PORT "tmds_clk_p" PULL_MODE=NONE;
