
IO_LOC "led_b" 10;
IO_PORT "led_b" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led_g" 11;
IO_PORT "led_g" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led_r" 9;
IO_PORT "led_r" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

IO_LOC "rst_n" 13;
IO_PORT "rst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "clk" 47;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
